name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    services:
      db:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: testpinit
          MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
        options: --health-cmd "mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v4
        with:
          go-version: '^1.21.0'
      
      - run: go install

      - run: pinit setup configure --database-dsn "root@tcp(localhost)/testpinit?interpolateParams=true&parseTime=true"
      - run: pinit setup migration
      - run: mysql --protocol=tcp -h localhost --port 3306 -u root -e "USE testpinit; SHOW TABLES;"

      - run: go test ./...
        env:
          PINIT_TEST_DSN: root@tcp(localhost)/testpinit?interpolateParams=true&parseTime=true
